.authorization {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/login.png'); /* 设置背景图片的URL */
    background-size: cover; /* 使用cover来保持图片的原始比例并铺满整个div */
    background-position: center center; /* 将背景图片居中对齐 */
    background-repeat: no-repeat; /* 防止图片重复 */

    .authorization-container {
        max-width: 450px;
        margin: auto;
        background-color: #fff;

        .authorization-button {
            width: 100%;
            margin-bottom: 0px;
            color: #fff;
            border-radius: 20px;
            background: center center #4A54FF;
            background-image: linear-gradient(315deg,#6772FF 0,#00F9E5 100%);
        }
    }
}