.background {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/login.png");
  /* 设置背景图片的URL */
  background-size: cover;
  /* 使用cover来保持图片的原始比例并铺满整个div */
  background-position: center center;
  /* 将背景图片居中对齐 */
  background-repeat: no-repeat;
  /* 防止图片重复 */

  .graph {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

    .upload {
      width: 100%;
      height: 100%;

      .ant-row {
        width: 100%;
        height: 100%;

        .ant-col {
          position: relative;
        }

        .content {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 43%;
          left: 50%;
          transform: translate(-50%, -50%);

          .title {
            font-size: 4rem;
            font-weight: bold;
            text-align: center;
            color: white;
            background-image: linear-gradient(315deg, #6772ff 0, #00f9e5 100%);
            background-clip: text;
            color: transparent;
            margin-bottom: 5rem;
          }

          .upload-button {
            width: 12rem;
            height: 3.5rem;
            font-size: 1.3rem;
            margin-bottom: 6rem;
          }

          .features {
            font-size: 1.1rem;

            .ant-typography {
              color: white;
              margin-bottom: 0.3rem;
            }
            a {
              width: 3rem;
              height: 1.5rem;
              color: #6eb3ec;
              transition: color 0.1s; /* 添加过渡效果 */
            }
            a:hover {
              color: rgb(188, 231, 239); /* 鼠标悬停时的颜色 */
            }
          }
        }
      }
    }
  }

  .user {
    width: 100%;
    height: 100%;
    .ant-row {
      width: 100%;
      height: 100%;
      .authorization-container {
        max-width: 27rem;
        margin: auto;

        .ant-card-body {
          padding-bottom: 0.8rem;

          .title {
            text-align: center;
          }

          .ant-typography {
            margin-top: 1rem;
            margin-bottom: 2rem;
          }

          .authorization-button {
            width: 100%;
            height: 2.3rem;
            margin-bottom: 0;
            border-radius: 3rem;
            background-image: linear-gradient(315deg, #6772ff 0, #00f9e5 100%);
          }

          .bottom-link {
            width: 100%;
            position: relative;
            .back {
              
              transition: 0.1s;
              margin: 0;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(-50%, -50%);
              a {
                color: black;
              font-weight: bold;
              }
              a:hover {
                color: #797979;
              }
            }
           
          }
        }
      }
    }
  }
}
